<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>all user</h1>

    <ul>
        {{#each user}}
        <li>Username : {{this.Username}}, Age :{{this.Age}}</li>
        {{/each}}
    </ul>
</body>
</html>